table {
  background-color: rgb(25, 25, 25);
  color: rgb(180,180,180)
}

td:not(.bg-gray) {
  background-color: rgb(25, 25, 25);
}

.bg-gray {
  background-color: rgb(20, 20, 20) !important;
  color: rgb(200,200,200) !important;
}

.side {
    width: 8%;
}
.gains {
    width: 84%;
}
.chart-container {
  height: 220px;
}
