<div class="row justify-content-center text-white">
  <mat-card matRipple class="bg-dark mt-2" style="width:70%">
    <mat-card-header><mat-card-subtitle class="text-primary">After</mat-card-subtitle></mat-card-header>
    <div class="d-flex flex-row justify-content-between mt-2">
      <p class="card-text">Days passed:</p>
      <span>{{daysPassed}}</span>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p class="card-text">Level:</p>
      <span>{{level}}</span>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p class="card-text">Base-stats:</p>
      <span>{{baseStats}}</span>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p class="card-text">Experience:</p>
      <span>{{experience}}</span>
    </div>
  </mat-card>
</div>

<div class="row justify-content-center text-white">
  <mat-card matRipple class="bg-dark mt-1" style="width:70%">
    <mat-card-header><mat-card-subtitle class="text-primary">Previously</mat-card-subtitle></mat-card-header>
    <div class="d-flex flex-row justify-content-between mt-2">
      <p class="card-text">Level:</p>
      <span>{{prevLevel}}</span>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p class="card-text">Base-stats:</p>
      <span>{{prevBaseStats}}</span>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p class="card-text">Experience:</p>
      <span>{{prevExperience}}</span>
    </div>
  </mat-card>
</div>


