<div class="rounded bg-darken d-flex p-3">
  <div class="form-ctn">
    <form [formGroup]='simulationOptions'>
      <mat-tab-group dynamicHeight backgroundColor="primary" mat-stretch-tabs="true" preserveContent="true">

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon fontIcon="person" class="me-2"></mat-icon>
            Account
          </ng-template>
          <ng-template matTabContent>
            <div class="row gx-1">
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Level</mat-label>
                  <input matInput type="number" formControlName="level" placeholder="0" min="1" max="800" />
                  <mat-error showError [control]="form.level"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Experience</mat-label>
                  <input matInput type="number" formControlName="experience" placeholder="0" min="0" />
                  <mat-error showError [control]="form.experience"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Academy level</mat-label>
                  <input matInput type="number" formControlName="academyLevel" placeholder="0" min="0" max="20" />
                  <mat-error showError [control]="form.academyLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Gem Mine Level</mat-label>
                  <input matInput type="number" formControlName="gemMineLevel" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="form.gemMineLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Hydra</mat-label>
                  <input matInput type="number" formControlName="hydraHeads" placeholder="0" min="0" max="20" />
                  <mat-error showError [control]="form.hydraHeads"></mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Base Stats</mat-label>
                  <input matInput type="number" formControlName="baseStat" placeholder="0" min="0" />
                  <mat-error showError [control]="form.baseStat"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Mount</mat-label>
                  <mat-select formControlName="mountType">
                    <mat-option *ngFor="let mount of mountType" [value]="mount">{{ mount }}</mat-option>
                  </mat-select>
                  <mat-error showError [control]="form.mountType"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Gold Pit level</mat-label>
                  <input matInput type="number" formControlName="goldPitLevel" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="form.goldPitLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Treasury Level</mat-label>
                  <input matInput type="number" formControlName="treasuryLevel" placeholder="0" min="0" max="45" />
                  <mat-error showError [control]="form.treasuryLevel"></mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon fontIcon="import_contacts" class="me-2"></mat-icon>
            Bonuses
          </ng-template>
          <ng-template matTabContent>
            <div class="row gx-1">
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="scrapbookFillness">Scrapbook</mat-label>
                  <input matInput type="number" formControlName="scrapbookFillness" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="form.scrapbookFillness"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="xpGuildBonus">XP Guild Bonus</mat-label>
                  <input matInput type="number" formControlName="xpGuildBonus" placeholder="0" min="0" max="200" />
                  <mat-error showError [control]="form.xpGuildBonus"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="xpRuneBonus">XP Rune Bonus</mat-label>
                  <input matInput type="number" formControlName="xpRuneBonus" placeholder="0" min="0" max="10" />
                  <mat-error showError [control]="form.xpRuneBonus"></mat-error>
                </mat-form-field>
                <check-box class="mb-3" formControlName="hasExperienceScroll">
                  Experience Scroll
                </check-box>
              </div>
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="tower">Tower</mat-label>
                  <input matInput type="number" formControlName="tower" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="form.tower"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="goldGuildBonus">Gold Guild Bonus</mat-label>
                  <input matInput type="number" formControlName="goldGuildBonus" placeholder="0" min="0" max="200" />
                  <mat-error showError [control]="form.goldGuildBonus"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="goldRuneBonus">Gold Rune Bonus</mat-label>
                  <input matInput type="number" formControlName="goldRuneBonus" placeholder="0" min="0" max="50" />
                  <mat-error showError [control]="form.goldRuneBonus"></mat-error>
                </mat-form-field>
                <check-box formControlName="hasGoldScroll">
                  Gold Scroll
                </check-box>
                <check-box class='mt-2' formControlName="hasArenaGoldScroll">
                  Arena Gold Scroll
                </check-box>
              </div>
            </div>
          </ng-template>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon fontIcon="flaky" class="me-2"></mat-icon>
            Playstyle
          </ng-template>
          <ng-template matTabContent>
            <div class="row gx-1">
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Daily Thirst</mat-label>
                  <input matInput type="number" formControlName="dailyThirst" placeholder="0" min="0" max="320" step="20" />
                  <mat-error showError [control]="form.dailyThirst"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Quest Priority</mat-label>
                  <mat-select formControlName="questPriority">
                    <mat-option *ngFor="let priority of questPriority" [value]="priority">{{priority}}</mat-option>
                  </mat-select>
                  <mat-error showError [control]="form.questPriority"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Hybrid Ratio</mat-label>
                  <input matInput type="number" formControlName="hybridRatio" placeholder="0" min="0" max="1" step="0.05"
                         matTooltip="e.g. 1 xp = 4 gold then type 0.25"
                         [matTooltipPosition]="'right'" />
                  <mat-error showError [control]="form.hybridRatio"></mat-error>
                </mat-form-field>
                <check-box class="mb-3"
                                  formControlName="switchPriority"
                                  matTooltip="Determines if character switches quest priority after X level"
                                  [matTooltipPosition]="'right'">
                  Should switch priority?
                </check-box>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Switch level</mat-label>
                  <input type="number" matInput formControlName="switchLevel" />
                  <mat-error showError [control]="form.switchLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Priority after switch</mat-label>
                  <mat-select formControlName="priorityAfterSwitch">
                    <mat-option *ngFor="let priority of questPriority" [value]="priority">{{priority}}</mat-option>
                  </mat-select>
                  <mat-error showError [control]="form.priorityAfterSwitch"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Arena fights for gold</mat-label>
                  <input matInput type='number' formControlName="fightsForGold" placeholder='0' step='1'
                        matTooltip='Amount of arena fights with maximum gold as reward (it will not exceed the cap)'
                        matTooltipPosition='right'/>
                  <mat-error showError [control]="form.fightsForGold"></mat-error>
                </mat-form-field>
                <check-box formControlName="doWeeklyTasks">
                  Do Weekly Tasks
                </check-box>

              </div>
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field class="mb-2" appearance="outline">
                  <mat-label>Spin Amount</mat-label>
                  <mat-select formControlName='spinAmount'>
                    <mat-option *ngFor="let spin of spinTactics" [value]="spin.value">{{spin.label}}</mat-option>
                  </mat-select>
                  <mat-error showError [control]="form.spinAmount"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Hours of Guard</mat-label>
                  <input matInput formControlName="dailyGuard"/>
                  <mat-error showError [control]="form.dailyGuard"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Schedule</mat-label>
                  <mat-select [value]="defaultScheduleOption" formControlName="schedule">
                    <mat-option *ngFor="let schedule of savedSchedules" [value]="schedule">
                      {{schedule.name}}
                    </mat-option>
                    <p class="pt-3 ps-2">You can add other schedules in Custom Schedule tab</p>
                  </mat-select>
                  <mat-error showError [control]="form.schedule"></mat-error>
                </mat-form-field>
                <check-box class='mb-3' formControlName="drinkBeerOneByOne">
                  Drink Beer One By One
                </check-box>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Calendar</mat-label>
                  <input matInput formControlName="calendar"/>
                  <mat-error showError [control]="form.calendar"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Calendar day</mat-label>
                  <input matInput formControlName="calendarDay"/>
                  <mat-error showError [control]="form.calendarDay"></mat-error>
                </mat-form-field>
                <check-box formControlName="skipCalendar">
                  Skip Calendar
                </check-box>
                <check-box formControlName="drinkExtraWeeklyBeer">
                  Drink Weekly Task Beer
                </check-box>
                <!--TO DO-->
                <!--<check-box class="mt-3" formControlName="simulateDungeon">
                  Simulate Dungeon (experimental)
                </check-box>-->
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <div class="btn-ctn">
    <button mat-icon-button [matMenuTriggerFor]="configMenu"><mat-icon>expand_more</mat-icon></button>
    <mat-menu #configMenu>
      <button mat-menu-item (click)="openConfigurationDialog()">Load</button>
      <button mat-menu-item [matMenuTriggerFor]="saveConfig" [disabled]="!savedConfiguration">Save</button>
      <button mat-menu-item [matMenuTriggerFor]="saveNewConfig">Save As New</button>
      <p class="config-info">Current configuration:</p>
      <p class='config-name' *ngIf="savedConfiguration">{{savedConfiguration.name}}</p>
      <p class='config-name text-center' *ngIf="!savedConfiguration">-</p>
    </mat-menu>

    <mat-menu #saveConfig>
      <button mat-menu-item (click)="saveConfiguration(true)">Everything</button>
      <button mat-menu-item (click)="saveConfiguration(false)">Only Playstyle</button>
    </mat-menu>
    <mat-menu #saveNewConfig>
      <button mat-menu-item (click)="saveConfigurationAsNew(true)">Everything</button>
      <button mat-menu-item (click)="saveConfigurationAsNew(false)">Only Playstyle</button>
    </mat-menu>
  </div>
</div>
