<div class="rounded bg-darken d-flex p-3">
  <div class="form-ctn">
    <form [formGroup]='simulationOptions'>
      <mat-tab-group dynamicHeight backgroundColor="primary" mat-stretch-tabs="true" preserveContent="true" [(selectedIndex)]='selectedIndex'>

        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon *ngIf='!accountInvalid' fontIcon="person" class="me-2"></mat-icon>
              <mat-icon *ngIf='accountInvalid' style='color:red' class='me-2' fontIcon='priority_high'></mat-icon>
              Account
          </ng-template>
          <ng-template matTabContent [formGroup]='form.account'>
            <div class="row gx-1">
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Level</mat-label>
                  <input matInput type="number" formControlName="level" placeholder="0" min="1" max="800" />
                  <mat-error showError [control]="account.level"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Experience</mat-label>
                  <input matInput type="number" formControlName="experience" placeholder="0" min="0" />
                  <mat-error showError [control]="account.experience"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Academy level</mat-label>
                  <input matInput type="number" formControlName="academyLevel" placeholder="0" min="0" max="20" />
                  <mat-error showError [control]="account.academyLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Gem Mine Level</mat-label>
                  <input matInput type="number" formControlName="gemMineLevel" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="account.gemMineLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Hydra</mat-label>
                  <input matInput type="number" formControlName="hydraHeads" placeholder="0" min="0" max="20" />
                  <mat-error showError [control]="account.hydraHeads"></mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Base Stats</mat-label>
                  <input matInput type="number" formControlName="baseStat" placeholder="0" min="0" />
                  <mat-error showError [control]="account.baseStat"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Mount</mat-label>
                  <mat-select formControlName="mountType" required>
                    @for (mountEnum of (mountTypeEnum | enum); track mountEnum.key) {
                      <mat-option [value]="mountEnum.value">{{ mountEnum.key | wordSpace }}</mat-option>
                    }
                  </mat-select>
                  <mat-error showError [control]="account.mountType"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Gold Pit level</mat-label>
                  <input matInput type="number" formControlName="goldPitLevel" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="account.goldPitLevel"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class='mb-1'>
                  <mat-label>Treasury Level</mat-label>
                  <input matInput type="number" formControlName="treasuryLevel" placeholder="0" min="0" max="45" />
                  <mat-error showError [control]="account.treasuryLevel"></mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon *ngIf='!bonusesInvalid' fontIcon="import_contacts" class="me-2"></mat-icon>
            <mat-icon *ngIf='bonusesInvalid' style='color:red' class='me-2' fontIcon='priority_high'></mat-icon>
            Bonuses
          </ng-template>
          <ng-template matTabContent [formGroup]='form.bonuses'>
            <div class="row gx-1">
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="scrapbookFillness">Scrapbook</mat-label>
                  <input matInput type="number" formControlName="scrapbookFillness" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="bonuses.scrapbookFillness"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="xpGuildBonus">XP Guild Bonus</mat-label>
                  <input matInput type="number" formControlName="xpGuildBonus" placeholder="0" min="0" max="200" />
                  <mat-error showError [control]="bonuses.xpGuildBonus"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="xpRuneBonus">XP Rune Bonus</mat-label>
                  <input matInput type="number" formControlName="xpRuneBonus" placeholder="0" min="0" max="10" />
                  <mat-error showError [control]="bonuses.xpRuneBonus"></mat-error>
                </mat-form-field>
                <check-box class="mb-3" formControlName="hasExperienceScroll">
                  Experience Scroll
                </check-box>
              </div>
              <div class="col-xl-6 d-flex flex-column mt-3">
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="tower">Tower</mat-label>
                  <input matInput type="number" formControlName="tower" placeholder="0" min="0" max="100" />
                  <mat-error showError [control]="bonuses.tower"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="goldGuildBonus">Gold Guild Bonus</mat-label>
                  <input matInput type="number" formControlName="goldGuildBonus" placeholder="0" min="0" max="200" />
                  <mat-error showError [control]="bonuses.goldGuildBonus"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label for="goldRuneBonus">Gold Rune Bonus</mat-label>
                  <input matInput type="number" formControlName="goldRuneBonus" placeholder="0" min="0" max="50" />
                  <mat-error showError [control]="bonuses.goldRuneBonus"></mat-error>
                </mat-form-field>
                <check-box formControlName="hasGoldScroll">
                  Gold Scroll
                </check-box>
                <check-box class='mt-2' formControlName="hasArenaGoldScroll">
                  Arena Gold Scroll
                </check-box>
              </div>
            </div>
          </ng-template>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon *ngIf='!playstyleInvalid' fontIcon="flaky" class="me-2"></mat-icon>
            <mat-icon *ngIf='playstyleInvalid' style='color:red' class='me-2' fontIcon='priority_high'></mat-icon>
            Playstyle
          </ng-template>
          <ng-template matTabContent [formGroup]='form.playstyle'>
            <div class="row gx-1">
              <div class="col-xl-6 d-flex flex-column mt-3">
                <check-box class='pt-2 mb-3' formControlName="expeditionsInsteadOfQuests"
                           matTooltip="Note that expeditions are subject to change"
                           [matTooltipPosition]="'right'">
                  Expeditions Instead of Quests
                </check-box>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Daily Thirst</mat-label>
                  <input matInput type="number" formControlName="dailyThirst" placeholder="0" min="0" max="320" step="20" />
                  <mat-error showError [control]="playstyle.dailyThirst"></mat-error>
                </mat-form-field>

                <!-- Normal Quests -->

                <div *ngIf='!expeditionsEnabled' [formGroup]='playstyle.questOptions'>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Quest Priority</mat-label>
                    <mat-select formControlName="priority">
                      <mat-option *ngFor="let priority of questPriority | enum" [value]="priority.value">{{ priority.key | wordSpace }}</mat-option>
                    </mat-select>
                    <mat-error showError [control]="questOptions.priority"></mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Hybrid Ratio</mat-label>
                    <input matInput type="number" formControlName="hybridRatio" placeholder="0" min="0" max="1" step="0.05"
                           matTooltip="e.g. 1 xp = 4 gold then type 0.25"
                           [matTooltipPosition]="'right'" />
                    <mat-error showError [control]="questOptions.hybridRatio"></mat-error>
                  </mat-form-field>
                </div>

                <!-- Expeditions -->

                <div *ngIf='expeditionsEnabled' [formGroup]='playstyle.expeditionOptions'>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Avg Amount of Chests</mat-label>
                    <input matInput type="number" formControlName="averageAmountOfChests" placeholder="0" step="0.05" min="0" max="2"/>
                    <mat-error showError [control]="expeditionOptions.averageAmountOfChests"></mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Avg Star Bonus</mat-label>
                    <input matInput type="number" formControlName="averageStarExperienceBonus" placeholder="0" step="0.05" min='1' max='1.35'/>
                    <mat-error showError [control]="expeditionOptions.averageStarExperienceBonus"></mat-error>
                  </mat-form-field>
                </div>


                <mat-form-field class="mb-2" appearance="outline">
                  <mat-label>Spin Amount</mat-label>
                  <mat-select formControlName='spinAmount'>
                    <mat-option *ngFor="let spinEnum of spinTactic | enum" [value]="spinEnum.value">{{ spinEnum.key | wordSpace }}</mat-option>
                  </mat-select>
                  <mat-error showError [control]="playstyle.spinAmount"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Hours of Guard</mat-label>
                  <input matInput formControlName="dailyGuard"/>
                  <mat-error showError [control]="playstyle.dailyGuard"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Schedule</mat-label>
                  <mat-select [value]="defaultScheduleOption" formControlName="schedule">
                    <mat-option *ngFor="let schedule of savedSchedules" [value]="schedule">
                      {{schedule.name}}
                    </mat-option>
                    <p class="pt-3 ps-2">You can add other schedules in Custom Schedule tab</p>
                  </mat-select>
                  <mat-error showError [control]="playstyle.schedule"></mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Arena fights for gold</mat-label>
                  <input matInput type='number' formControlName="fightsForGold" placeholder='0' step='1'
                        matTooltip='Amount of arena fights with maximum gold as reward (it will not exceed the cap)'
                        matTooltipPosition='right'/>
                  <mat-error showError [control]="playstyle.fightsForGold"></mat-error>
                </mat-form-field>

              </div>
              <div class="col-xl-6 d-flex flex-column mt-3">
                <check-box class="pt-2 mb-3"
                                  formControlName="switchPriority"
                                  matTooltip="Determines if character switches quest priority after X level"
                                  [matTooltipPosition]="'right'">
                  Should switch priority?
                </check-box>

                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Switch level</mat-label>
                  <input type="number" matInput formControlName="switchLevel" />
                  <mat-error showError [control]="playstyle.switchLevel"></mat-error>
                </mat-form-field>

                <!-- Normal Quests -->

                <div *ngIf='!expeditionsEnabled' [formGroup]='playstyle.questOptionsAfterSwitch'>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Quest Priority</mat-label>
                    <mat-select formControlName="priority">
                      <mat-option *ngFor="let priority of questPriority | enum" [value]="priority.value">{{ priority.key | wordSpace }}</mat-option>
                    </mat-select>
                    <mat-error showError [control]="questOptions.priority"></mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Hybrid Ratio</mat-label>
                    <input matInput type="number" formControlName="hybridRatio" placeholder="0" min="0" max="1" step="0.05"
                           matTooltip="e.g. 1 xp = 4 gold then type 0.25"
                           [matTooltipPosition]="'right'" />
                    <mat-error showError [control]="questOptions.hybridRatio"></mat-error>
                  </mat-form-field>
                </div>

                <!-- Expeditions -->

                <div *ngIf='expeditionsEnabled' [formGroup]='playstyle.expeditionOptionsAfterSwitch'>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Avg Amount of Chests (After Switch)</mat-label>
                    <input matInput type="number" formControlName="averageAmountOfChests" placeholder="0" step='0.05' min='0' max='2'/>
                    <mat-error showError [control]="expeditionOptionsAfterSwitch.averageAmountOfChests"></mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Avg Star Bonus (After Switch)</mat-label>
                    <input matInput type="number" formControlName="averageStarExperienceBonus" placeholder="0" step='0.05' min='1' max='1.35'/>
                    <mat-error showError [control]="expeditionOptionsAfterSwitch.averageStarExperienceBonus"></mat-error>
                  </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Calendar</mat-label>
                  <input matInput formControlName="calendar"/>
                  <mat-error showError [control]="playstyle.calendar"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-2">
                  <mat-label>Calendar day</mat-label>
                  <input matInput formControlName="calendarDay"/>
                  <mat-error showError [control]="playstyle.calendarDay"></mat-error>
                </mat-form-field>
                <check-box formControlName="skipCalendar">
                  Skip Calendar
                </check-box>
                <check-box class='pt-2' formControlName="drinkBeerOneByOne">
                  Drink Beer One By One
                </check-box>
                <check-box class='pt-2' formControlName="doWeeklyTasks">
                  Do Weekly Tasks
                </check-box>
                <check-box class='pt-2' formControlName="drinkExtraWeeklyBeer">
                  Drink Weekly Task Beer
                </check-box>
                <!--TODO-->
                <!--<check-box class="mt-3" formControlName="simulateDungeon">
                  Simulate Dungeon (experimental)
                </check-box>-->
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <div class="btn-ctn">
    <button mat-icon-button [matMenuTriggerFor]="configMenu"><mat-icon>expand_more</mat-icon></button>
    <mat-menu #configMenu>
      <button mat-menu-item (click)="openConfigurationDialog()">Load</button>
      <button mat-menu-item (click)='saveConfiguration()' [disabled]="!savedConfiguration">Save</button>
      <button mat-menu-item (click)='saveConfigurationAsNew()'>Save As New</button>
      <p class="config-info">Current configuration:</p>
      <p class='config-name' *ngIf="savedConfiguration">{{savedConfiguration.name}}</p>
      <p class='config-name text-center' *ngIf="!savedConfiguration">-</p>
    </mat-menu>
  </div>
</div>
