.chart-wrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 2;
    max-height: 280px;
    min-height: 280px;
}
@media(max-width: 500) {
    .chart-wrapper {
        max-height: 300px;
        min-height: 300px;
    }
}
