.chart-wrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 2;
    min-height: 270px;
    max-height: 270px;
}

@media(max-height: 800px) {
    .chart-wrapper {
        max-height: unset;
    }
}
