<div class="bg-dark">
  <h1 class="pt-4 ps-4">Credits:</h1>
  <div class="content" mat-dialog-content>
    <h5>BM Church</h5>
    <ul><li class="bm-church">Koksuone</li><li class="bm-church">Mathire</li><li class="bm-church">Future</li><li class="bm-church">DrKuulJulian</li></ul>
    <p>
      Big thanks to whole BM Church, especially people listed above,<br />
      for testing, catching bugs and providing valuable feedback from<br />
      early development up to this day. If you didn't help me, SFSimulator<br />
      would never get out from being console application.<br />
    </p>
    <p>
      Thank you Julian for recommending my tool to Tavern team. BTW<br />
      you are very lucky to make me sign NDA with you, otherwise you'd<br />
      be canceled.<br />
    </p>
    <h5>Discord Tavern</h5>
    <ul><li class="tavern">mar21</li><li class="tavern">Timhot3p</li><li class="tavern">and many more...</li></ul>
    <p>
      Firstable I would really like to appreciate mar21 and all sftools<br />
      contributors. Without their heavy research SFSimulator would<br />
      never be created in the first place. Also I really appreciate you<br />
      mar21 for sftools integration which makes this website 10x<br />
      easier for all users.<br />
    </p>
    <p>
      Thank you Timhot3p for your extensive knowledge about the<br />
      game which made development much easier.
    </p>
    <p>
      Last but not least, thanks to all Tavern users and admins which<br />
      are involved in discussing, helping others, sharing knowledge or<br />
      just making chat a better place. If not this discord I would stopped<br />
      playing sfgame a while ago.<br />
    </p>
    <h5>Others</h5>
    <ul><li class="other">Caesar</li><li class="other">Venganzz</li><li class="other">crazi</li></ul>
    <p>
      If you read it, I really want to thank you Caesar. Whole idea of<br />
      making this simulator originated after one of our many discussions<br />
      (I think it was the one about gold switch). Although we disagreed<br />
      heavily on some matters, it was awesome to have such person as<br />
      you to freely discuss about any topic. Lately I've started to notice<br />
      things you were talking about. Sadly I've finally come to agree with<br />
      your points. <br />
    </p>
    <p>
      Thank you Venganzz for valuable feedback about the tool and just<br />
      being amazing person to talk to. I have my fingers crossed for your<br />
      EU citizenship.<br />
    </p>
    <p>
      Thank you crazi for being pain in the ass. You are walking proof<br />
      that antiheros are necessary. Single handedly carrying discord. <br />
    </p>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button [mat-dialog-close] mat-button>Got It</button>
  </div>
</div>
