<hlm-tabs tab="Current" class="w-full">
  <hlm-tabs-list class="w-full">
    <button hlmTabsTrigger="Current">Current</button>
    <button hlmTabsTrigger="Statistics">Statistics</button>
    <button hlmTabsTrigger="History">History</button>
  </hlm-tabs-list>
  <div hlmTabsContent="Current" class='flex flex-col justify-center items-center'>
    <div class='flex'>
      @for (expedition of expeditions(); track expedition) {
        <div class='flex items-center justify-center m-2 rounded-2xl bg-purple-500/15'>
          <img [src]='getAssetUrl(expedition.MainTask)' width='105px' height='105px' class='border-r-2 border-purple-200/80'/>
          <div class='flex flex-col items-center justify-center'>
            @for (task of expedition.SideTasks; track task) {
              <img [src]='getAssetUrl(task)' width='35px' height='35px'/>
            }
          </div>
        </div>
      }
    </div>
    @if (expeditionProgress()?.isInProgress) {
      <hr/>
      <div class='flex flex-col justify-center items-center'>
        @for (stage of expeditionProgress()!.stages; track stage; let isLast = $last) {
          @let stageClass = 'flex items-center justify-center border-t-2 border-purple-300' + (isLast ? ' border-b-3 border-b-green-500' : '');
          <div [class]='stageClass'>
            <img [src]='getAssetUrl(stage.left)' width='50px' height='50px' [class]='stage.chosen === "left" ? "border-red-900 border-3 rounded-full" : ""'/>
            <img [src]='getAssetUrl(stage.mid)' width='50px' height='50px' [class]='stage.chosen === "mid" ? "border-red-900 border-3 rounded-full" : ""'/>
            <img [src]='getAssetUrl(stage.right)' width='50px' height='50px' [class]='stage.chosen === "right" ? "border-red-900 border-3 rounded-full" : ""'/>
          </div>
        }
      </div>
    }
  </div>
  @let expes = cast(savedExpeditions() | async) ?? [];

  <div hlmTabsContent="Statistics" class='flex flex-col justify-center'>
     <table hlmTable class='w-full font-black text-lg'>
      <tbody hlmTBody>
          <tr hlmTr class='border-b border-gray-600 mb-2'>
            <td hlmTd>Total expeditions:</td>
            <td hlmTd>{{ expes.length }}</td>
          </tr>
          <tr hlmTr class='border-b border-gray-600 mb-2'>
            <td hlmTd>Avg Chest:</td>
            <td hlmTd>{{ getAvgChest(expes) | number: '1.0-2' }}</td>
          </tr>
          <tr hlmTr class='border-b border-gray-600 mb-2'>
            <td hlmTd>Avg Heorism:</td>
            <td hlmTd>{{ getAvgHeroism(expes) | number: '1.0-2' }}</td>
          </tr>
          <tr hlmTr class='border-b border-gray-600 mb-2'>
            <td hlmTd>Items per 20 thirst:</td>
            <td hlmTd>{{ getItemsPerThirst(expes) | number: '1.0-2' }}</td>
          </tr>
      </tbody>
    </table>
    @let statsPerType = getStatsPerExpeditionType(expes);
    @if (statsPerType.length > 0) {
      <table hlmTable class='w-full mt-5'>
        <thead hlmTHead>
          <tr hlmTr>
            <th hlmTh>Type</th>
            <th hlmTh>Avg Chest</th>
            <th hlmTh>Avg Heroism</th>
            <th hlmTh>Count</th>
          </tr>
        </thead>
        <tbody hlmTBody>
        @for (stat of statsPerType; track stat.Id) {
          <tr hlmTr>
            <td hlmTd>
              <img [src]='getAssetUrl(stat.MainTask)' width='40px' height='40px'/>
              <span class='hidden'>{{ stat.Id }}</span>
            </td>
            <td hlmTd>{{ stat.AvgChests | number: '1.0-2' }}</td>
            <td hlmTd>{{ stat.AvgHeroism | number: '1.0-2' }}</td>
            <td hlmTd>{{ stat.Count }}</td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>
  <div hlmTabsContent="History" class='flex flex-col justify-center items-center'>
    @if (expes.length > 0) {
      <table hlmTable class='w-full mt-5'>
        <tbody hlmTBody>
        @for (expedition of expes; track expedition.Id) {
          <tr hlmTr>
            <td hlmTd>
              <img [src]='getAssetUrl(expedition.MainTask)' width='50px' height='50px'/>
            </td>
            <td hlmTd>{{ expedition.CreatedAt | date:'short' }}</td>
            <td hlmTd>
              <button hlmBtn variant='destructive' (click)='deleteExpedition(expedition.Id!)'>
                <ng-icon hlm name='lucideX'/>
              </button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>
</hlm-tabs>
