<mat-card appearance="outlined" class="dialog p-2">
  <mat-card-content align="center" class="row">
    <mat-radio-group class="d=inline-flex d-flex" [(ngModel)]="data.simulationType" align="center">
      <mat-radio-button *ngFor="let type of simulationTypes" [value]="type.value"
                        [matTooltip]="type.tooltip"
                        matTooltipPosition="above"
                        matTooltipShowDelay="500">
        {{type.value}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline" class="row mt-4" style="width: 84%" align="center">
      <mat-label><strong>Simulate untill</strong></mat-label>
      <input matInput required type="number" [(ngModel)]="data.simulateUntil" placeholder="1" min="1" [max]="data.simulationType == 'Days' ? 3000 : 800" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="align-self-center">
    <button [mat-dialog-close]="data" [disabled]="data.simulationType == 'Days' ? data.simulateUntil > 3000 || data.simulateUntil <= 0 : data.simulateUntil > 800 || data.simulateUntil <= 0" mat-stroked-button color="accent">Start Simulation</button>
  </mat-card-actions>
</mat-card>
