<div class="bg-dark">
  <h1 class="pt-3 px-4">Patch Notes: {{version}}</h1>
  <div mat-dialog-content>
    <p>New schedule system for own events and actions</p>
    <p>New option for amount of daily spins</p>
    <p>New option for amount of guard hours</p>
    <p>Added patch notes system</p>
    <p>Added new website icon</p>
    <p>Gold Pit level is no longer raised automatically every 15 days</p>
    <p>Bugfix: Character without tower unlocked had -1 value in tower field</p>
    <p>Bugfix: Bonus quest were not generated if drink beer one by one wasn't selected</p>
    <p>Bugfix: Current day tooltip when looking at daily chart was not visible</p>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button [mat-dialog-close] mat-button>Don't care, bye</button>
    <button [mat-dialog-close] mat-button>Got It</button>
  </div>
</div>
