<div class="bg-dark">
  <h1 class="pt-3 px-4">Patch Notes: {{version}}</h1>
  <div mat-dialog-content>
    <p>Changed page background</p>
    <p>Changed the look of the main form, result tables and result chart</p>
    <p>Changed graphics of actions and events in Custom Schedule</p>
    <p>Added "Add hydra head" action in Custom Schedule</p>
    <p>Added validation messages for inputs</p>
    <p>
      Added experimental dungeon simulator <span><a href="/test">(click)</a></span>
    </p>
    <p>Bug fix: Already loaded configuration couldn't be saved</p>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button [mat-dialog-close] mat-button>Don't care, bye</button>
    <button [mat-dialog-close] mat-button>Got It</button>
  </div>
</div>
