<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="api" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\SFSimulator.API.dll .\SFSimulator.API.dll .\SFSimulatorAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
		<rewrite>
			<rules>
				<clear />
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect to non-www" stopProcessing="true">
					<match url="(.*)" negate="false"></match>
					<action type="Redirect" url="https://sfsimulator.xyz/{R:1}"></action>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^sfsimulator\.xyz$" negate="true"></add>
					</conditions>
				</rule>
				<rule name="Ignore Swagger route" stopProcessing="true">
					<match url="^swagger/" />
					<action type="None" />
				</rule>
				<rule name="Ignore API route" stopProcessing="true">
					<match url="^api/" />
					<action type="None" />
				</rule>
				<rule name="Ignore Expedition route" stopProcessing="true">
					<match url="^expeditions/" />
					<action type="None" />
				</rule>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>