@implements IAsyncDisposable
@if (shouldInitChart)
{
    <canvas id="@_elementId">
    </canvas>
}
else
{
    <div class="flex h-full items-center justify-center">
        <h3>No data to display</h3>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public List<ChartRecord> Records { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = default!;

    [Parameter, EditorRequired]
    public ChartType ChartType { get; set; } = default!;

    [Parameter]
    public Func<List<ChartRecord>, bool> ShouldInit { get; set; } = (recs) => recs.Any(r => r.Value > 0);

    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;

    private Guid _elementId = Guid.NewGuid();

    private bool shouldInitChart = false;

    protected override Task OnParametersSetAsync()
    {
        shouldInitChart = ShouldInit(Records);

        return base.OnParametersSetAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await JSRuntime
            .InvokeVoidAsync("destroyChart" , _elementId.ToString());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (shouldInitChart)
        {
            switch (ChartType)
            {
                case ChartType.Bar:
                    await JSRuntime
                        .InvokeVoidAsync("initBarChart" , _elementId.ToString(), Records.Select(r => new { label = r.Label, data = r.Value}), Title);
                    break;
                case ChartType.Line:
                    await JSRuntime
                        .InvokeVoidAsync("initLineChart" , _elementId.ToString(), Records.Select(r => new { label = r.Label, data = r.Value}), Title);
                    break;
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}

