<div class="ctn bg-gray">


  <!-- AutoComplete lookup -->
  <div class="d-flex mt-3 justify-content-center">
    <button mat-icon-button (click)="openInfoDialog()"><mat-icon fontIcon="info"></mat-icon></button>
    <mat-form-field class="w-50" appearance="outline">
      <mat-label>Schedule</mat-label>
      <input matInput aria-label="Schedule" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let scheduleEntity of savedSchedules" [value]="scheduleEntity.name" (click)="changeSchedule(scheduleEntity)">
          {{scheduleEntity.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button (click)="createSchedule()"><mat-icon class="text-success" matTooltip="Add new schedule">add</mat-icon></button>
  </div>





  <div class="d-flex justify-content-center pt-5" *ngIf="schedule">
    <mat-form-field appearance="outline" class="w-25">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="schedule.name" required/>
      <mat-hint *ngIf="schedule.timestamp==0">Changing and deleting default schedule is disabled</mat-hint>
    </mat-form-field>
    <button mat-stroked-button (click)="saveSchedule()" [disabled]="saveDisabled()" matTooltipShowDelay="500" class="btn-opt text-success border-success text-dark me-1" [class.text-dark]="saveDisabled()">Save</button>
    <button mat-stroked-button (click)="deleteSchedule()" [disabled]="schedule.timestamp == 0" matTooltipShowDelay="500" class="btn-opt text-danger border-danger text-dark me-1" [class.text-dark]="schedule.timestamp == 0">Delete</button>
    <button mat-stroked-button (click)="createSchedule(schedule)" matTooltipShowDelay="500" matTooltip="Create new schedule based on this template" class="btn-opt text-primary border-primary me-1">To New</button>
  </div>



  <div *ngIf="schedule">
    <div class="row w-100 justify-content-center align-items-end gs-5">

      <!-- Actions -->
      <div class="mt-3 col-4 d-flex flex-column align-items-center">
        <!-- Actions Header -->
        <h1>Actions</h1>

        <!-- Actions Toggles -->
        <div class="d-flex d-inline-flex">
          <btn-tgl *ngFor="let actionInfo of actions" [value]='actionInfo.action' [toggled]="actionInfo.toggled" (click)="toggleAction(actionInfo)" matTooltipShowDelay="500" [matTooltip]="actionInfo.tooltip"></btn-tgl>
        </div>
      </div>

      <!-- Events -->
      <div class="mt-3 col-4 d-flex flex-column align-items-center">
        <!-- Events Header -->
        <h1>Events</h1>

        <!-- Events Toggles -->
        <div class="d-flex d-inline-flex">
          <btn-tgl *ngFor="let eventInfo of events" [value]='eventInfo.event' [toggled]="eventInfo.toggled" (click)="eventInfo.toggled = !eventInfo.toggled" matTooltipShowDelay="500" [matTooltip]="eventInfo.tooltip"></btn-tgl>
        </div>
      </div>
    </div>




    <!-- Top Actions -->
    <div class="justify-content-around d-flex text-center">
      <div class="flex-spacer"></div>
      <div>
        <button mat-icon-button color="primary" class="icon p-0" aria-label="add new schedule week at top" (click)="addNewWeek('append')">
          <mat-icon class="text-success" [inline]="true">add</mat-icon>
        </button>
      </div>
      <div class="d-flex">
        <button mat-icon-button color="primary" class="avg-icon p-0" aria-label="clear all fields" (click)="clearAll()" matTooltip="Clear all">
          <mat-icon class="text-danger" [inline]="true">delete_forever</mat-icon>
        </button>
        <button mat-icon-button color="primary" class="avg-icon p-0" aria-label="set default template" (click)="setDefault()" matTooltip="Set default template">
          <mat-icon class="text-warning" [inline]="true">calendar_month</mat-icon>
        </button>
      </div>
    </div>

    <!-- Days of week -->
    <div class="row w-100 justify-content-center">
      <div class="col row justify-content-end align-items-end"><div class="dayOfWeek" *ngFor="let day of daysOfWeek">{{day}}</div></div>
      <span class="spacer"></span>
      <div class="col row align-items-end">  <div class="dayOfWeek" *ngFor="let day of daysOfWeek">{{day}}</div></div>
    </div>


    <div class="row w-100 justify-content-center" *ngFor="let week of schedule.scheduleWeeks">

      <!-- Action Week -->
      <div matRipple [matContextMenuTriggerFor]="actionMenu" *ngFor="let day of week.scheduleDays" class="cell" (click)="addAction(day)" (mousedown)='$event.preventDefault();'>


        <!-- Actions Inside Day -->
        <ul *ngIf="getSquareSize(day.actions.length) as size" [style.grid-template]="'repeat('+size+', '+100/size + '%) / repeat('+ size + ', ' + 100/size + '%)'">
          <li *ngFor="let action of day.actions" class="" [id]="action" (auxclick)="removeAction($event, day, action)"></li>
        </ul>

        <mat-menu #actionMenu xPosition="after" yPosition="below">
          <button mat-menu-item (click)="removeAllActions(day)">Clear</button>
        </mat-menu>
      </div>





      <!-- Remove Week -->
      <button mat-icon-button class="my-auto" aria-label="remove schedule week" (click)="removeWeek(week)">
        <mat-icon class="text-danger">close</mat-icon>
      </button>






      <!-- Event Week -->
      <div matRipple [matContextMenuTriggerFor]="eventMenu" *ngFor="let day of week.scheduleDays" class="cell" (click)="addEvent(day)" (mousedown)='$event.preventDefault();'>


        <!-- Events Inside Day -->
        <ul *ngIf="getSquareSize(day.events.length) as size" [style.grid-template]="'repeat('+size+', '+100/size + '%) / repeat('+ size + ', ' + 100/size + '%)'">
          <li *ngFor="let event of day.events" class="m-0 p-0" [id]="event" (auxclick)="removeEvent($event, day, event)"></li>
        </ul>

        <mat-menu #eventMenu xPosition="after" yPosition="below">
          <button mat-menu-item (click)="removeAllEvents(day)">Clear</button>
        </mat-menu>
      </div>
    </div>


    <!-- Bottom Actions -->
    <div class="row w-100 justify-content-center">
      <button mat-icon-button color="primary" class="icon p-0 text-center" aria-label="add new schedule week at the bottom" (click)="addNewWeek('push')">
        <mat-icon class="text-success" [inline]="true">add</mat-icon>
      </button>
    </div>
  </div>
</div>
