.button{
    height: 3rem;
    min-height: 3rem;
    width: 7rem;
}
.main {
    overflow: hidden;
}


.footer {
  margin-top: calc(100% - 20px);
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  color: rgb(190,190,190);
  background-color: rgba(0,0,0,0.05);
}

.credits {
    margin: 0;
    background-color: transparent;
    border-style: none;
    color: inherit;
    padding: 0;
    text-decoration: underline;
}
