
mat-form-field {
    max-width: 185px;
}

.bg-shadow {
  background-color: #856bb3;
}

.bg-blue {
  border-radius: 5px;
  background-color: rgba(8, 87, 160, 0.4);
}

.bg-green {
  border-radius: 5px;
  background-color: rgba(37, 146, 18, 0.4);
}

.bg-orange {
  border-radius: 5px;
  background-color: rgba(255, 133, 12, 0.4);
}

.bg-purple {
  border-radius: 5px;
  background-color: rgba(79, 9, 177, 0.4);
}

label {
    font-weight: 500;
}

.long-form {
    max-width: 100%;
}
